/* Variables */

// Base color
$mine:#E8B84A;
$loginBg: #F2F1DF;
$blue:#1F8FFF;
$green: #2E9F68;
$yellow:#D99A2B;
$pink: #F56C6C;
$block:#000;
$gray-1: #17211B;
$gray-2: #6C756E;
$gray-3: #A8B1A7;
$gray-4: #DDE5D7;
$gray-5: #EEF2E7;
$gray-6: #E1E8D9;
$bgColor: #F2F1E4;
$white: #fff;

// Sidebar
$sideBarWidth: 190px;
$subMenuBg:#17261D;
$subMenuHover:#203326;
$subMenuActiveText:#F2D889;
$menuBg:#102219;
$menuText:#C9D8C7;
$menuActiveText:$mine; //Also see settings.sidebarTextTheme

// Login page
$lightGray: #080808;
$darkGray:#889aa4;
$loginCursorColor: #080808;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}

.avatar-uploader .el-upload{
  // border: dashed 2px #D8DDE3 !important;
  border-radius: 4px !important;
  background: #FCFCFC;
}
.avatar-uploader .avatar-uploader-icon{
  background: #FCFCFC;
}
.avatar-uploader .el-icon-plus:before{
  content: '上传图片' !important;
  font-size: 12px;
  color:#000;
}


// 弹框样式处理
.el-dialog{
  border-radius: 8px;
}
.el-dialog__header{
  background: #FBFBFA;
  border-radius: 8px 8px 0 0;
  border: none;
}
